!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "chrome=1", "http-equiv": "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{content: "Tee Parham", name: "description"}
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel: "stylesheet"}
    %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %title Tee Parham
  %body
    .header-wrap.outer
      %header.inner
        %h1 Tee Parham
        %h2
          Idealist, code writer, product & engineering lead at Neighborland.
    .main-content-wrap.outer
      %section.main-content.inner
        %h3 I build technology solutions
        %ul
          %li
            I founded
            %a{href: "https://neighborland.com/"} Neighborland
            to empower people to shape the development of their neighborhoods.
            Our software is the only solution designed for planners to
            collaborate with their stakeholders in an accessible, participatory,
            and equitable way. Over 3 million people have participated on
            Neighborland, and our partners’ projects have yielded over $3
            billion in social and economic impact.
          %li
            I help
            %a{href: "https://designerfund.com/"} Designer Fund
            attract and connect the world's best designers with top
            technology companies.
          %li
            I helped
            %a{href: "https://brightfunds.org/"} Bright Funds
            build a platform for charitable giving and volunteering.
          %li
            I led development of an ERP system for
            %a{href: "https://www.nesterhosiery.com/"} Nester Hosiery
            so they could make the world's best wool socks more efficiently.
            My team helped the company manage manufacturing of over 5000 items
            and grow 20% annually for over 8 years.
            You should
            = succeed "." do
              %a{href: "https://www.farmtofeet.com/"} buy some socks
      %section.main-content.inner
        %h3 I'm on the internet
        .pile
          %a{href: "https://github.com/teeparham/", class: "icon-github"}
          %a{href: "https://www.linkedin.com/in/teeparham", class: "icon-linkedin"}
          %a{href: "https://twitter.com/teeparham", class: "icon-twitter"}
          %a{href: "http://stackoverflow.com/users/162934/tee", class: "icon-stackoverflow"}
      %section.main-content.inner
        %h3 I contribute to open source software
        %ul
          %li
            %a{href: "https://github.com/teeparham/gemdiff"} gemdiff
            is a command-line tool to find source code for ruby gems.
            You can compare source code differences between the current version of a gem
            in your bundle and the latest version of the gem. gemdiff connects
            gem version management (rubygems + bundler) with source code (GitHub).
          %li
            %a{href: "https://github.com/rgeo/rgeo"} rgeo
            is a geospatial data library for ruby. It wraps the GEOS and Proj C libraries
            and provides spatial types such as point, linestring, and polygon.
          %li
            %a{href: "https://github.com/rgeo/activerecord-postgis-adapter"} activerecord-postgis-adapter
            is the PostGIS ActiveRecord adapter. Use it to connect ActiveRecord models
            to your PostGIS database, with all the geometry type methods from rgeo.
          %li
            %a{href: "https://github.com/haml/haml"} haml
            is the HTML Abstraction Markup Language.
          %li
            %a{href: "https://github.com/neighborland/cache_rocket"} cache_rocket
            improves fragment caching efficiency in Rails. CacheRocket allows caching
            more generic html fragments and allowing the contents of the cached fragments to be replaced with dynamic content.
          %li
            %a{href: "https://github.com/neighborland/pres"} pres
            provides simple Rails presenter modules and classes.
          %li
            %a{href: "https://github.com/neighborland/sluggi"} sluggi
            is a friendly_id-inspired slugging library for ActiveRecord models.
            Use it to build nice-looking URLs. It provides basic slugs, slug history,
            and the ability to define multiple slug candidates.
          %li
            %a{href: "https://github.com/neighborland/scopy"} scopy
            provides common ActiveRecord model scopes for common columns including
            created_at and name.
          %li
            %a{href: "https://github.com/neighborland/resque_solo"} resque_solo
            ensures unique jobs in Resque.
          %li
            %a{href: "https://github.com/neighborland/anchored"} anchored
            auto-links URLs in HTML text using ruby.
          %li
            %a{href: "https://github.com/rgeo/rgeo-geojson"} rgeo-geojson
            provides GeoJSON serialization support to RGeo objects.
          %li
            %a{href: "https://github.com/rgeo/rgeo-activerecord"} rgeo-activerecord
            provides RGeo ActiveRecord extensions, used by the PostGIS, MySql, and
            Spatialite database adapters.
          %li
            %a{href: "https://github.com/teeparham/phonely_feud"} phonely_feud
            is a weekend prototype I built for the first National Day
            of Civic Hacking. It allows the anyone to lookup a suspicious phone
            number and answer "Is this phone number a scam?"
      %section.main-content.inner
        %h3 I talk about software
        %ul
          %li
            I was a guest on Devchat.tv's
            %a{href: "https://devchat.tv/ruby-rogues/rr-356-geospatial-programming-in-ruby-with-daniel-azuma-and-tee-perham"}
              Ruby Rogues podcast
            along with RGeo creator Daniel Azuma. We discussed geospatial programming in ruby.
          %li
            I presented at Boulder Ruby about
            %a{href: "https://www.slideshare.net/teeparham/rails-html-fragment-caching-with-cache-rocket"}
              key-based HTML fragment caching in rails.
          %li
            I presented at Boulder Ruby about
            %a{href: "https://www.slideshare.net/teeparham/gemdiff"} gem dependency updates with gemdiff.
      %section.main-content.inner
        %h3 Be a winner
        %ul
          %li
            I built
            %a{href: "https://github.com/teeparham/mastermind"} a website
            of the classic Mastermind board game using React, ES6, and webpack.
            %a{href: "https://teeparham.github.io/mastermind"} Play it:
        %a{href: "https://teeparham.github.io/mastermind"}
          %img{src: "images/mastermind.png", style: "width: 100%; max-width: 360px;"}
        .space
    .footer-wrap.outer
      %footer.inner
        %h5 Credits
        %p
          Colors by
          %a{href: "https://tachyons.io"} Tachyons
        %p
          Icons from
          %a{href: "http://fortawesome.github.com/Font-Awesome/"} Font Awesome
          designed by Dave Gandy.
        %p
          Published with
          %a{href: "http://pages.github.com"} GitHub Pages
