!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "Tee Parham", name: "description"}
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", rel: "stylesheet"}
    %link{href: "stylesheets/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %title Tee Parham
  %body
    .header-wrap.outer
      %header.inner
        %a.forkme-banner{href: "https://github.com/teeparham"}
          .pbs GitHub Profile
          %img.github-logo{src: "images/github-logo.svg"}
        %h1 Tee Parham
        %h2
          Dad, idealist, gambler, kids basketball coach,
          expert amateur snowboarder, ping ponger, progressive citizen,
          code writer, product & engineering lead at Neighborland.
    .main-content-wrap.outer
      %section.main-content.inner
        %h3 Open Source Projects
        %ul
          %li
            %a{href: "https://github.com/teeparham/gemdiff"} gemdiff
            Compare source code changes in gem versions
          %li
            %a{href: "https://github.com/neighborland/cache_rocket"} cache_rocket
            Better Rails HTML Fragment caching
          %li
            %a{href: "https://github.com/neighborland/pres"} pres
            Simple Rails presenters
          %li
            %a{href: "https://github.com/neighborland/sluggi"} sluggi
            Simple ActiveRecord slugs
          %li
            %a{href: "https://github.com/neighborland/scopy"} scopy
            Common ActiveRecord model scopes
          %li
            %a{href: "https://github.com/neighborland/resque_solo"} resque_solo
            Unique jobs in Resque
          %li
            %a{href: "https://github.com/rgeo/activerecord-postgis-adapter"} activerecord-postgis-adapter
            PostGIS ActiveRecord Adapter
          %li
            %a{href: "https://github.com/rgeo/rgeo-activerecord"} rgeo-activerecord
            RGeo ActiveRecord extensions
          %li
            %a{href: "https://github.com/haml/haml"} haml
            HTML Abstraction Markup Language
          %li
            %a{href: "https://github.com/teeparham/paperclip-meta"} paperclip-meta
            Image sizes in Paperclip
          %li
            %a{href: "https://github.com/teeparham/phonely_feud"} phonely_feud
            Is this phone number a scam?
          %li
            %a{href: "https://github.com/teeparham/cache_benchmark"} cache_benchmark
            Rails cache benchmarks
          %li
            %a{href: "https://github.com/neighborland/mobu"} mobu
            Rails user-agent dependent view paths
          %li
            %a{href: "https://github.com/teeparham/loady"} loady
            Simple file loading and logging in ruby
        .space
    .footer-wrap.outer
      %footer.inner
        %p
          Colors by
          %a{href: "http://ethanschoonover.com/solarized"} Solarized
        %p
          Published with
          %a{href: "http://pages.github.com"} GitHub Pages
